/* Fonts Link Start */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
  font-family: THIAGADEMORegular;
  src: url(../font/THIAGADEMORegular.ttf);
}

/* Fonts Link End */

/* Universal Start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ff9900;
  --secondary-color: #7a94a3;
  --black: #000000;
  --white: #ffffff;
  --primary-font: "THIAGADEMORegular";
  --secondary-font: "Rubik";
  --primary-border: 1px solid #7a94a3;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
}

p {
  font-family: var(--secondary-font);
}

/* Universal End */

/* Blog Hero Start */

#services_hero {
  background: url(../image/blog-all-image/blog_bg_01.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
}

.services_heading_hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35vh;
}

.services_heading_hero h1 {
  color: var(--white);
  font-size: 55px;
}

.services_page_ifo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 15px;
}

.services_page_ifo span:nth-child(2) {
  width: 40px;
  height: 2px;
  background: var(--primary-color);
}

.services_page_ifo span a {
  font-size: 17px;
  color: var(--white);
  font-family: var(--secondary-font);
}
/* Blog Hero End */

/* Blog Start */
#blog {
  padding: 60px 0;
}

.blog_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.blog_heading span {
  height: 1px;
  width: 40px;
  background: var(--primary-color);
  margin-right: 10px;
}

.blog_heading p {
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
}

.blog_heading_title h1 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 25px;
  color: var(--black);
}

.blog_content {
  border: var(--primary-border);
  /* width: 100%; */
  height: 500px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.blog_menu {
  padding: 20px 15px 20px 20px;
}

.blog_content_img {
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

.blog_content_img:hover.blog_content_img img {
  transform: scale(1.2);
  width: 100% !important;
}
.blog_content_img img {
  width: 100% !important;
  height: 250px;
  transition: 0.5s;
  object-fit: cover;
}

.blog_content_heading p {
  font-size: 15px;
  color: var(--secondary-color);
}

.blog_content_heading h1 {
  font-size: 25px;
  color: var(--black);
  height: 80px;
}

.project_card_pagenation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 40px;
  padding-top: 20px;
}

.project_card_pagenation a {
  border: 2px solid rgba(1, 39, 60, 1);
  padding: 5px 15px;
  font-family: var(--secondary-font);
  font-size: 16px;
  color: rgba(1, 39, 60, 1);
  font-weight: 500;
  border-radius: 5px;
  transition: 0.5s;
}

.project_card_pagenation a:hover {
  background: var(--primary-color);
  color: var(--white);
  border: 2px solid var(--primary-color);
}

.project_card_pagenation .active {
  background: var(--primary-color);
  color: var(--white);
  border: 2px solid var(--primary-color);
}

.card_btn_wrapper {
  display: inline-block;
  margin-top: 30px;
}

.card_btn {
  border: 2px solid rgba(245, 147, 5, 1);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  gap: 5px;
  /* width: 200px; */
  padding: 0 5px 0 0;
  border-radius: 0 30px 30px 0;
  transition: 0.5s;
  overflow: hidden;
}

.card_btn a:last-child {
  width: 40px !important;
  height: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  color: var(--black);
  border: 2px solid rgba(245, 147, 5, 1);
  transition: 0.5s;
}

.card_btn a:nth-child(1) {
  visibility: hidden;
  padding: 0 0 0 0px;
  opacity: 0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--secondary-font);
  color: var(--black);
  width: 0;
  white-space: nowrap;
  transition: 0.5s;
}

.card_btn:hover.card_btn a:nth-child(1) {
  visibility: visible;
  opacity: 1;
  width: 120px;
  padding: 0 0 0 10px;
  /* color: var(--primary-color); */
}

.card_btn a:nth-child(1):hover {
  color: var(--primary-color);
}

.card_btn a:last-child:hover {
  background: var(--primary-color);
}

.card_btn a:last-child:hover path {
  fill: #fff;
}

@media screen and (max-width: 575px) {
  .project_card_pagenation a {
    border: 2px solid rgba(1, 39, 60, 1);
    padding: 5px 10px;
    font-family: var(--secondary-font);
    font-size: 14px;
    color: rgba(1, 39, 60, 1);
    font-weight: 500;
    border-radius: 5px;
    transition: 0.5s;
  }
}
/* Blog End */

/* Offering Start  */

#offering {
  padding: 0 0 40px 0;
}
.offering_wrapper {
  background: url(../image/home-page-all-image/offering_img_01.svg);
  width: 100%;
  height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.offering_heading {
  display: block;
  margin: auto;
  width: 720px;
}

.offering_heading h1 {
  padding-top: 60px;
  text-align: center;
  font-size: 40px;
  color: var(--white);
}

.offering_text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.offering_text p a {
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--white);
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-size: 16px;
}

.social_content {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 50px;
}

.social_content_menu {
  border: 2px solid rgba(1, 39, 60, 1);
  padding: 10px;
  background: rgba(1, 39, 60, 1);
  border-radius: 5px;
  z-index: 1;
}

.social_content_menu a {
  display: block;
  text-align: center;
  border: 1px solid var(--white);
  line-height: 10px;
  padding: 5px;
  border-radius: 3px;
  transition: 0.5s;
}

.social_content_menu a:nth-child(2) {
  margin-top: 10px;
}

.social_content_menu a:nth-child(3) {
  margin-top: 10px;
}

.social_content_menu a:nth-child(4) {
  margin-top: 10px;
}

.social_content_menu a img {
  width: 18px;
  height: 20px;
}

.social_content_menu a:hover {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

@media screen and (max-width: 767px) {
  .offering_heading {
    width: 675px;
  }
}

@media screen and (max-width: 675px) {
  .offering_heading {
    width: 575px;
  }
}

@media screen and (max-width: 578px) {
  .offering_heading {
    width: 335px;
  }

  .offering_heading h1 {
    font-size: 30px;
  }
}

/* Offering End  */
