/* Fonts Link Start */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
  font-family: THIAGADEMORegular;
  src: url(../font/THIAGADEMORegular.ttf);
}

/* Fonts Link End */

/* Universal Start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ff9900;
  --secondary-color: #7a94a3;
  --black: #000000;
  --white: #ffffff;
  --primary-font: "THIAGADEMORegular";
  --secondary-font: "Rubik";
  --primary-border: 1px solid #7a94a3;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
}

p {
  font-family: var(--secondary-font);
}

/* Universal End */

/* Hero Start */

#hero {
  position: relative;
  height: 90vh;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider_image img {
  display: block;
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 30px !important;
  height: 30px !important;
  background: none !important;
  border-radius: 5px !important;
  border: 2px solid var(--primary-color);
  color: #fff;
  transition: 0.3s;
  font-family: var(--secondary-font);
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  border: 2px solid var(--primary-color) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet:hover {
  background: var(--primary-color) !important;
}

.swiper-pagination-bullet::after {
  content: "01";
  font-weight: 500;
  font-family: var(--secondary-font) !important;
}

.swiper-pagination-bullet-second::after {
  content: "02";
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  left: 10% !important;
  top: 75% !important;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  /* margin: 30px 0px 30px 0 !important; */
  display: block;
}

.swiper-pagination-bullet:nth-child(2) {
  width: 0px !important;
  height: 25px !important;
  border: 1.5px solid var(--white);
  right: 0 !important;
  margin-left: 14px !important;
}

.swiper-pagination-bullet:nth-child(2)::after {
  content: "";
}

.swiper-pagination-bullet:nth-child(3)::after {
  content: "02";
}

.swiper-pagination-bullet:nth-child(4) {
  width: 0px !important;
  height: 25px !important;
  border: 1.5px solid var(--white);
  right: 0 !important;
  margin-left: 14px !important;
}

.swiper-pagination-bullet:nth-child(4)::after {
  content: "";
}

.swiper-pagination-bullet:nth-child(5)::after {
  content: "03";
}

.swiper-pagination-bullet-active {
  background: var(--primary-color) !important;
}

.slider_image {
  position: relative;
}

.hero_heading {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}

.hero_heading h1 {
  font-size: 50px;
  color: var(--white);
  width: 900px;
  display: block;
  position: relative;
  margin: auto;
}

.hero_header_img {
  position: absolute;
  top: 55%;
  left: 0;
  right: 0;
}

.hero_banner_img {
  position: relative;
  cursor: pointer;
}

.hero_banner_img img {
  width: 650px;
}

.hero_banner_img_text {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero_banner_img_text h1 {
  font-size: 50px;
}

.hero_heading_pragraph {
  position: absolute;
  top: 140%;
  left: 0;
  right: 0;
}

.hero_heading_pragraph p {
  color: var(--white);
  width: 900px;
  display: block;
  position: relative;
  margin: auto;
  font-size: 16px;
}

.hero_btn {
  position: absolute;
  top: 85%;
  left: 0;
  right: 0;
}

.hero_btn a {
  width: 160px;
  height: 45px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 1rem;
  border: 1px solid var(--primary-color);
  color: var(--white);
  background: var(--primary-color);
  border-radius: 3px;
  z-index: 99;
}

.hero_btn a:hover::before {
  animation: animation 2s linear infinite;
}

.hero_btn a::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 45px;
  background: var(--primary-color);
  border-radius: 5px;
  /* top: 0;
  left: 0; */
  z-index: -9;
  animation: bouncing 3s linear infinite;
}

@keyframes bouncing {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.1, 1.3);
    opacity: 0;
  }
}

@media screen and (max-width: 992px) {
  .hero_heading h1 {
    width: 600px;
    font-size: 35px;
  }

  .hero_header_img {
    top: 48%;
  }

  .hero_header_img img {
    width: 500px;
  }

  .hero_banner_img_text h1 {
    font-size: 35px;
  }

  .hero_heading_pragraph p {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .hero_heading h1 {
    width: 400px;
    font-size: 30px;
  }

  .hero_header_img {
    top: 48%;
  }

  .hero_header_img img {
    width: 380px;
  }

  .hero_banner_img_text h1 {
    font-size: 30px;
  }

  .hero_heading_pragraph p {
    width: 400px;
  }

  .hero_btn {
    top: 78%;
  }
}

@media screen and (max-width: 440px) {
  .hero_heading h1 {
    width: 350px;
    font-size: 27px;
  }

  .hero_header_img {
    top: 43%;
  }

  .hero_header_img img {
    width: 300px;
  }

  .hero_banner_img_text h1 {
    font-size: 20px;
  }

  .hero_heading_pragraph p {
    width: 330px;
  }

  .hero_btn {
    top: 75%;
  }
  .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    left: 10% !important;
    top: 85% !important;
  }

  .swiper-pagination-bullet:nth-child(2) {
    height: 15px !important;
    margin-left: 10px !important;
  }

  .swiper-pagination-bullet:nth-child(4) {
    height: 15px !important;
    margin-left: 10px !important;
  }

  .swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
    font-size: 10px;
    line-height: 20px;
  }
}

/* Hero End */

/* Feature Start */
.feature_card {
  border: 1px solid #7a94a3;
  width: 100%;
  /* align-items: stretch; */
  height: 270px;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  transition: 0.3s ease-in-out;
  background: var(--white);
}

.feature_card_content {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-bottom: 25px;
}

.feature_img {
  width: 70px;
  height: 70px;
}

.feature_img img {
  width: 100%;
  height: 100%;
}

.feature_heading h1 {
  font-size: 25px;
}

.feature_heading h2 {
  font-size: 25px;
}

.feature_pragraph p {
  font-size: 15px;
  color: var(--secondary-color);
}

.feature_card:hover {
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.1),
    1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  border-color: var(--white);
}

.feature_card::before {
  width: 100%;
  height: 310px;
  background: var(--primary-color);
  position: absolute;
  content: "";
  top: 10.5%;
  left: -10%;
  transition: 0.5s;
  transform: perspective(800px) rotateY(-20deg) translateY(-50px) rotateX(10deg)
    scale(1);
  overflow: hidden;
  opacity: 0;
  border-radius: 10px;
  z-index: -1;
}

.feature_card:hover.feature_card::before {
  overflow: visible;
  opacity: 1;
}

.feature_card_last {
  border: 1px solid #7a94a3;
  width: 100%;
  align-items: stretch;
  height: 270px;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
  background: var(--white);
}

.feature_card_last:hover {
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.1),
    1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  border-color: var(--white);
}

.feature_card_last::before {
  width: 330px;
  height: 310px;
  background: var(--primary-color);
  position: absolute;
  content: "";
  top: -8%;
  right: -9%;
  transition: 0.3s;
  transform: perspective(800px) rotateY(25deg) translateZ(15px) rotateX(10deg)
    scale(1);
  overflow: hidden;
  opacity: 0;
  border-radius: 10px;
  z-index: -1;
}

.feature_card_last:hover.feature_card_last::before {
  overflow: visible;
  opacity: 1;
}

.feature_card_middile {
  border: 1px solid #7a94a3;
  width: 100%;
  align-items: stretch;
  height: 270px;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  transition: 0.5s;
  background: var(--white);
}

.feature_card_middile::before {
  width: 310px;
  height: 292px;
  background: var(--primary-color);
  position: absolute;
  content: "";
  top: -7%;
  right: -12%;
  transform: perspective(1200px) rotateY(32deg) translateX(-20px) rotateX(16deg)
    scale(1);
  overflow: hidden;
  opacity: 0;
  border-radius: 10px;
  z-index: -1;
  transition: 0.5s;
}

.feature_card_middile:hover.feature_card_middile::before {
  overflow: visible;
  opacity: 1;
}

.feature_card_middile:hover {
  box-shadow: 1px 1px 2px 3px rgba(0, 0, 0, 0.1),
    1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  border-color: var(--white);
}

@media screen and (max-width: 575px) {
  .feature_card_middile::before {
    display: none;
  }

  .feature_card_last::before {
    display: none;
  }

  .feature_card::before {
    display: none;
  }
}

/* Feature End */

/* About Start */
#about {
  padding: 70px 0 50px 0;
}

.about_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.about_heading span {
  height: 1px;
  width: 40px;
  background: var(--primary-color);
  margin-right: 10px;
}

.about_heading p {
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
}

.about_heading_title {
  padding-bottom: 70px;
}

.about_heading_title h1 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 25px;
}

.about_heading_title p {
  width: 750px;
  text-align: center;
  margin: auto;
  display: block;
  font-size: 16px;
  color: #7a94a3;
}

.about_content_menu_list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.about_content_menu_list img {
  width: 30px;
}

.about_content_menu_list:nth-child(4) {
  padding-bottom: 50px;
}

.about_content_menu_list span {
  font-family: var(--secondary-font);
  font-weight: 500;
  color: var(--black);
  font-size: 16px;
}

.card_btn_wrapper {
  display: inline-block;
  margin-top: 30px;
}

.card_btn {
  border: 2px solid rgba(245, 147, 5, 1);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  gap: 5px;
  /* width: 200px; */
  padding: 0 5px 0 0;
  border-radius: 0 30px 30px 0;
  transition: 0.5s;
  overflow: hidden;
}

.card_btn a:last-child {
  width: 40px !important;
  height: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  border: 2px solid rgba(245, 147, 5, 1);
  transition: 0.5s;
}

.card_btn a:nth-child(1) {
  visibility: hidden;
  padding: 0 0 0 0px;
  opacity: 0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: rgba(245, 147, 5, 1);
  width: 0;
  white-space: nowrap;
  transition: 0.5s;
}

.card_btn:hover.card_btn a:nth-child(1) {
  visibility: visible;
  opacity: 1;
  width: 120px;
  padding: 0 0 0 10px;
}

.card_btn:hover.card_btn a:last-child {
  background: rgba(245, 147, 5, 1);
}

.card_btn:hover path {
  fill: #fff;
}

@media screen and (max-width: 836px) {
  .about_heading_title p {
    width: 600px;
    font-size: 15px;
  }

  .feature_card_middile::before {
    display: none;
  }

  .feature_card_last::before {
    display: none;
  }

  .feature_card::before {
    display: none;
  }
}

@media screen and (max-width: 776px) {
  .about_heading_title p {
    width: 450px;
    font-size: 15px;
  }

  .feature_card_middile::before {
    display: none;
  }

  .feature_card_last::before {
    display: none;
  }

  .feature_card::before {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .about_heading_title p {
    width: 330px;
    font-size: 15px;
  }
}

/* About End */

/* Service Start */

#services {
  padding: 50px 0;
}

.services_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.services_heading span {
  height: 1px;
  width: 40px;
  background: var(--primary-color);
  margin-right: 10px;
}

.services_heading p {
  margin-top: 15px;
  font-weight: 500;
  font-size: 16px;
}

.services_heading_title {
  padding-bottom: 50px;
}

.services_heading_title h1 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 25px;
}

.services_content_card {
  border: var(--primary-border);
  width: 100%;
  aspect-ratio: 2/1;
  padding: 50px 25px;
  border-radius: 10px;
  transition: 0.3s;
}

.services_content_card:hover {
  box-shadow: inset rgb(212, 212, 212) 0px 0px 60px -12px;
  border-color: rgb(255, 255, 255);
}

.services_card_img {
  width: 80px;
  height: 70px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.services_card_img img {
  width: 100%;
  height: 100%;
}

.services_card_heading {
  margin-left: 50px;
  height: 120px;
  margin-bottom: 20px;
}

.services_card_heading h1 {
  font-size: 32px;
  line-height: 45px;
}

.services_card_divider {
  height: 1px;
  width: 100%;
  background: var(--secondary-color);
  margin-bottom: 40px;
}

.services_card_text p {
  font-size: 16px;
  color: var(--secondary-color);
}
/* Service End */
