/* Fonts Link Start */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
  font-family: THIAGADEMORegular;
  src: url(../font/THIAGADEMORegular.ttf);
}

/* Fonts Link End */

/* Universal Start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ff9900;
  --secondary-color: #7a94a3;
  --black: #000000;
  --white: #ffffff;
  --primary-font: "THIAGADEMORegular";
  --secondary-font: "Rubik";
  --primary-border: 1px solid #7a94a3;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--primary-font);
}

a {
  text-decoration: none;
}

p {
  font-family: var(--secondary-font);
}

/* Universal End */

/* Hero Start */

#hero {
  position: relative;
  height: 850px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider_image img {
  display: block;
  width: 100%;
  height: 850px;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 30px !important;
  height: 30px !important;
  background: none !important;
  border-radius: 5px !important;
  border: 2px solid var(--primary-color);
  color: #fff;
  transition: 0.3s;
  font-family: var(--secondary-font);
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  border: 2px solid var(--primary-color) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet:hover {
  background: var(--primary-color) !important;
}

.swiper-pagination-bullet::after {
  content: "01";
  font-weight: 500;
  font-family: var(--secondary-font) !important;
}

.swiper-pagination-bullet-second::after {
  content: "02";
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  left: 10% !important;
  right: 0 !important;
  top: 80% !important;
  bottom: 0 !important;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  /* margin: 30px 0px 30px 0 !important; */
  display: block;
}

.swiper-pagination-bullet:nth-child(2) {
  width: 0px !important;
  height: 25px !important;
  border: 1.5px solid var(--white);
  right: 0 !important;
  margin-left: 14px !important;
}

.swiper-pagination-bullet:nth-child(2)::after {
  content: "";
}

.swiper-pagination-bullet:nth-child(3)::after {
  content: "02";
}

.swiper-pagination-bullet:nth-child(4) {
  width: 0px !important;
  height: 25px !important;
  border: 1.5px solid var(--white);
  right: 0 !important;
  margin-left: 14px !important;
}

.swiper-pagination-bullet:nth-child(4)::after {
  content: "";
}

.swiper-pagination-bullet:nth-child(5)::after {
  content: "03";
}

.swiper-pagination-bullet-active {
  background: var(--primary-color) !important;
}

.slider_image {
  position: relative;
}

.hero_heading {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}

.hero_heading h1 {
  font-size: 50px;
  color: var(--white);
  width: 900px;
  display: block;
  position: relative;
  margin: auto;
}

.hero_header_img {
  position: absolute;
  top: 47%;
  left: 0;
  right: 0;
}

.hero_banner_img {
  position: relative;
  cursor: pointer;
}

.hero_banner_img img {
  width: 650px;
}

.hero_banner_img_text {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero_banner_img_text h1 {
  font-size: 50px;
}

.hero_heading_pragraph {
  position: absolute;
  top: 170%;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero_heading_pragraph p {
  color: var(--white);
  width: 900px;
  display: block;
  position: relative;
  margin: auto;
  font-size: 16px;
}

.hero_btn {
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
}

.hero_btn a {
  width: 160px;
  height: 45px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 1rem;
  border: 1px solid var(--primary-color);
  color: var(--white);
  background: var(--primary-color);
  border-radius: 3px;
}

/* .hero_btn a:hover::before {
  animation: animation 2s linear infinite;
} */

.hero_btn a::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 45px;
  background: var(--primary-color);
  border-radius: 5px;
  top: 0;
  left: 0;
  z-index: -9;
  animation: bouncing 2s linear infinite;
}

@keyframes bouncing {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.1, 1.2);
    opacity: 0;
  }
}

@media screen and (max-width: 992px) {
  .hero_heading h1 {
    width: 600px;
    font-size: 35px;
  }

  .hero_header_img {
    top: 42%;
  }

  .hero_header_img img {
    width: 500px;
  }

  .hero_banner_img_text h1 {
    font-size: 35px;
  }

  .hero_heading_pragraph p {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .hero_heading h1 {
    width: 400px;
    font-size: 30px;
  }

  .hero_header_img {
    top: 40%;
  }

  .hero_header_img img {
    width: 380px;
  }

  .hero_banner_img_text h1 {
    font-size: 30px;
  }

  .hero_heading_pragraph p {
    width: 400px;
  }

  .hero_btn {
    top: 65%;
  }
}

@media screen and (max-width: 410px) {
  .hero_heading h1 {
    width: 350px;
    font-size: 27px;
  }

  .hero_header_img {
    top: 40%;
  }

  .hero_header_img img {
    width: 350px;
  }

  .hero_banner_img_text h1 {
    font-size: 25px;
  }

  .hero_heading_pragraph p {
    width: 350px;
  }

  .hero_btn {
    top: 65%;
  }
}

/* Hero End */
