/* Fonts Link Start */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@font-face {
  font-family: THIAGADEMORegular;
  src: url(../font/THIAGADEMORegular.ttf);
}

/* Fonts Link End */

/* Universal Start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ff9900;
  --secondary-color: #7a94a3;
  --black: #000000;
  --white: #ffffff;
  --primary-font: "THIAGADEMORegular";
  --secondary-font: "Rubik";
  --primary-border: 1px solid #7a94a3;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--primary-font);
}

a {
  text-decoration: none !important;
}

p {
  font-family: var(--secondary-font);
}

/* Universal End */

/* Navbar Start */

.dropdown {
  position: absolute;
  top: 100%;
  left: -40px;
  background: var(--white);
  transform: translateY(35px);
  opacity: 0;
  pointer-events: auto;
  visibility: hidden;
  transition: 0.7s;
}

.dropdown ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  background: var(--white);
}

.dropdowon_menu ul li {
  background: var(--white);
  width: 12rem;
  border-bottom: none;
  padding: 10px;
  transition: 0.5s;
}

.dropdowon_menu ul li:hover {
  background: rgb(255, 232, 199);
}

.dropdowon_menu ul li a {
  display: block;
  text-align: center;
  font-family: var(--secondary-font);
  color: var(--black);
}

.dropdown-link {
  position: relative;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
  transform: translateY(24px);
  opacity: 2;
  visibility: visible;
  pointer-events: auto;
}

.main_nav {
  position: fixed;
  top: 30px;
  width: 100%;
  z-index: 99;
  transition: 0.4s;
}

.nav-link-drop {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrolled .main_nav {
  top: 0 !important;
}

.scrolled .logo-container svg {
  width: 100px;
  height: 60px;
}

.scrolled .top_bar_wrapper {
  display: none;
}

.scrolled .navbar_wrapper {
  display: flex;
  padding-top: 30px !important;
}

.main_nav_content {
  position: relative;
  box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  display: flex;
  background: var(--white);
  border-radius: 5px;
  transition: 0.4s;
}

.nav-link-drop a i {
  margin-top: 5px;
  margin-left: 3px;
}

.nav-link-drop:hover .fa-chevron-down {
  transform: rotate(-360deg);
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-btn {
  flex: 3;
  display: block;
}

.nav-links {
  flex: 2;
}

.log-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo-container {
  padding: 10px;
}

.logo-container svg {
  width: 130px;
  height: 90px;
}

.logo span {
  font-weight: 300;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  font-size: 0.8rem;
  border: 2px solid #fff;
  border-radius: 2rem;
  line-height: 1;
  margin: 0 0.2rem;
  transition: 0.3s;
  text-transform: uppercase;
}

.btn.solid,
.btn.transparent:hover {
  background-color: #fff;
  color: rgb(255, 255, 255);
}

.nav-links > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
}

.nav-link {
  position: relative;
}

.nav-link > a {
  font-weight: 500;
  color: var(--black);
  padding: 0 0.9rem;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: var(--secondary-font);
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
  /* z-index: 1002 !important; */
}

.nav-link:hover > a,
.nav-link a.active::after {
  font-weight: 500;
  color: var(--primary-color);
}

.dropdown-link:not(:nth-last-child(2)) {
  border-bottom: 1px solid var(--white);
  border-radius: 5px;
}

/* .nav-links-menu {
  z-index: 999;
} */

.hamburger-menu-container {
  flex: 1;
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  background: var(--white);
  margin-right: 10px;
  justify-content: center;
}

.hamburger-menu span {
  width: 1.6rem;
  height: 5px;
  border-radius: 3px;
  background-color: var(--black);
  position: relative;
  padding-right: 10px;
  z-index: 1001;
  transition: 0.5s;
  font-weight: 300;
}

.hamburger-menu span:before,
.hamburger-menu span:after {
  content: "";
  position: absolute;
  width: 1.6rem;
  height: 5px;
  background-color: #000000;
  border-radius: 3px;
  transition: 0.5s;
}

.hamburger-menu span:before {
  transform: translateY(-7px);
}

.hamburger-menu span:after {
  transform: translateY(7px);
}

#check {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu span {
  background-color: var(--white);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu span:before {
  transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu span:after {
  transform: translateY(0) rotate(45deg);
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.nav-link a.active {
  color: var(--primary-color);
}
.nav-link a.active::after {
  position: absolute;
  content: "";
  width: 2px;
  left: 45%;
  color: var(--primary-color);
  right: 0;
  top: 100%;
  bottom: 0;
  height: 20px;
  background: var(--primary-color);
}

@media (max-width: 992px) {
  .hamburger-menu-container {
    display: flex;
  }

  .nav-link a.active {
    color: var(--black);
  }

  .nav-link a.active::after {
    display: none;
  }

  .nav-link:hover > a {
    color: var(--black);
  }

  #check {
    display: block;
  }

  .nav-btn {
    margin-top: 50px !important;
  }

  .top_bar_wrapper {
    display: none !important;
  }

  .nav-link.active::after {
    display: none;
  }

  .nav-link > a:hover {
    color: var(--black);
  }

  .navbar_wrapper {
    position: fixed;
    height: calc(100vh - 5rem);
    top: 0rem;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: 0.65s;
  }

  #check:checked ~ .navbar_wrapper {
    transform: translateX(0);
  }

  #check:checked ~ .navbar_wrapper .nav-link,
  #check:checked ~ .navbar_wrapper .log-sign {
    animation: animation 0.5s ease forwards var(--i);
  }

  .nav-links {
    flex: initial;
    width: 100%;
  }

  .nav-links > ul {
    flex-direction: column;
  }

  .nav-link {
    width: 100%;
    opacity: 1;
    z-index: 1;
    transform: translateY(20px);
  }

  .nav-link > a {
    position: relative;
    line-height: 1;
    padding: 1rem 2rem;
  }

  .nav-link:hover > a {
    transform: scale(1);
    background-color: #ffffff;
  }

  .dropdown,
  .dropdown {
    position: absolute;
    top: initial;
    left: initial;
    width: 100%;
    height: 0px;
    /* transform: initial; */
    opacity: 0;
    pointer-events: auto;
    padding: 0;
    visibility: hidden;
  }

  .nav-link:hover > .dropdown,
  .dropdown-link:hover > .dropdown {
    visibility: visible;
    opacity: 1;
    width: 100%;
    height: 130px;

    transform: translateY(-11px);
  }

  .dropdowon_menu ul li:hover {
    background: var(--white);
  }

  .dropdowon_menu ul li a {
    text-align: start;
    margin-left: 22px;
  }

  .dropdown-link:not(:nth-last-child(2)) {
    border-bottom: none;
  }

  .top_bar {
    display: none;
  }
}

.top_bar_wrapper {
  display: flex;
  justify-content: end;
  padding: 10px 15px 20px 0px;
}

.topbar_items {
  display: flex;
  gap: 20px;
  align-items: center;
}

.top_bar {
  display: inline-block;
  padding-bottom: 7px;
  border-bottom: var(--primary-border);
}

.topbar_item:nth-child(1) {
  border-right: var(--primary-border);
  padding-right: 10px;
}

.topbar_item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topbar_item svg {
  width: 18px !important;
}

.topbar_item span a {
  font-size: 14px;
  color: #383838;
  font-family: var(--secondary-font);
}

/* Navbar End */

/* Footer Start */

#footer {
  padding: 0 0 20px 0;
}

.footer_logo {
  width: 245px;
  height: 170px;
}

.footer_logo img {
  width: 100%;
  height: 100%;
}

.footer_logo_text p {
  margin-top: 20px;
  font-size: 15px;
  color: var(--secondary-color);
}

.footer_content {
  margin-top: 100px;
}

.footer_content_heading h1 {
  font-size: 22px;
  display: inline-block;
  position: relative;
}

.footer_content_heading h1::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  top: 8px;
  border-radius: 1px;
  left: -18px;
  background: var(--primary-color);
}

.footer_content_heading h1::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  top: 8px;
  border-radius: 1px;

  left: 108%;
  background: var(--primary-color);
}

.footer_content_heading h2 {
  font-size: 22px;
  display: inline-block;
  position: relative;
}

.footer_content_heading h2::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  top: 8px;
  border-radius: 1px;
  left: -16%;
  background: var(--primary-color);
}

.footer_content_heading h2::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  top: 8px;
  border-radius: 1px;
  left: 108%;
  background: var(--primary-color);
}

.footer_content_heading h3 {
  font-size: 22px;
  /* text-align: center; */
  display: inline-block;
  position: relative;
}

.footer_content_heading h3::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  top: 8px;
  border-radius: 1px;
  left: -18px;
  background: var(--primary-color);
}

.footer_content_heading h3::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  top: 8px;
  border-radius: 1px;
  left: 108%;
  background: var(--primary-color);
}

.footer_content_menu ul {
  list-style: none;
  padding: 0;
  /* margin-left: 10px; */
}

.footer_content_menu ul li {
  line-height: 35px;
}

.footer_content_menu ul li a {
  font-size: 18px;
  color: rgba(122, 148, 163, 1);
  font-weight: 500;
  transition: 0.5s;
  font-family: var(--secondary-font);
}

.footer_content_menu ul li a:hover {
  color: var(--primary-color);
}

.footer_content_address a {
  display: block;
  font-size: 16px;
  color: var(--secondary-color);
  font-weight: 500;
  font-family: var(--secondary-font);
  transition: 0.5s;
}

.footer_content_address a:hover {
  color: var(--primary-color);
}

.footer_content_address a:nth-child(2) {
  margin-top: 10px;
  padding-bottom: 15px;
}

.footer_content_address address {
  font-size: 16px;
  font-family: var(--secondary-font);
  font-weight: 500;
  color: var(--secondary-color);
  transition: 0.5s;
}

.footer_divider {
  width: 100%;
  height: 1px;
  background: rgba(122, 148, 163, 1);
  /* border: var(--primary-border); */
  margin-top: 70px;
}

.footer_content_address address:hover {
  color: var(--primary-color);
}

@media screen and (max-width: 991px) {
  .footer_content_heading h1::after {
    display: none;
  }
  .footer_content_heading h1::before {
    display: none;
  }
  .footer_content_heading h2::after {
    display: none;
  }
  .footer_content_heading h2::before {
    display: none;
  }
  .footer_content_heading h3::after {
    display: none;
  }
  .footer_content_heading h3::before {
    display: none;
  }

  .footer_content {
    margin-top: 40px;
  }
}

/* Footer End */

/* Copy Right Start */
#Copy_right {
  padding-bottom: 10px;
}

.copy_right_heading p {
  text-align: center;
}

.copy_right_heading p:nth-child(1) {
  font-size: 16px;
  color: var(--black);
}

.copy_right_heading p:nth-child(2) {
  font-size: 16px;
  margin-top: 5px !important;
}

.copy_right_heading p:nth-child(2) span a {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}
/* Copy Right End */

/* Go Back Start */

.scroll_top {
  position: fixed;
  bottom: 800px;
  right: 20px;
  /* width: 60px;
  height: 60px; */
  /* background: red; */
  border-radius: 50%;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  transition: 1s ease-in;
  cursor: pointer;
}

.scroll_top.active {
  visibility: visible;
  opacity: 1;
  bottom: 20px;
}

.scroll_top_img {
  width: 90px;
  height: 70px;
  transition: 0.5s;
}

.scroll_top_img svg {
  width: 100%;
  height: 100%;
}

.scroll_top_img svg:hover .go_back_bg {
  fill: #ff9900 !important;
}

.scroll_top_img svg:hover .go_back_up {
  fill: var(--black) !important;
}
/* Go Back End */
